<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="nav">
      <a class="logo" href="/">Coronaspridning.nu</a>
      <a class="active" href="/cases">Cases</a>
      <a href="/deaths">Deaths</a>
      <!-- <a href="/recoveries">Recoveries</a> -->
      <a href="/map">Map</a>
    </div>
    <canvas id="myChart"></canvas>
    <script>
      let list = <%-JSON.stringify(arrOfNewObjects)%>;
      var ctx = document.getElementById('myChart').getContext('2d');
      var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',
        // The data for our dataset
        data: {
          labels: list[238].timeSeries.map(function (a) { return a.x; }),
          
          datasets: [
            
            {
              label: JSON.stringify(list[238].country),
              // backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: list[238].timeSeries
            },
            // {
            //   label: 'My First dataset',
            //   borderColor: 'rgb(255, 130, 11)',
            //   data: [0, 2,2 ,2, 1, 6, 9, 6]
            // }
          ]
        },

        // Configuration options go here
        options: {}
      });
    </script>
  </body>
</html>
