<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.14/p5.js"
    ></script>
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/sketch.js"></script>
    <style>
      body {
        background-color: antiquewhite;
      }
      .nav {
        background-color: azure;
        display: flex;
        padding: 0.5em;
        margin-top: 0px;
        font-size: 24px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        justify-content: space-around;
      }
      a {
        color: darkolivegreen;
      }
      a:hover {
        color: green;
      }
      canvas {
    padding-left: 0;
    padding-right: 0;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* width: 800px; */
}
    </style>
  </head>
  <body>
    <div class="nav">
      <span>Coronaspridning.nu</span>
      <a href="/cases">Cases</a>
      <a href="/deaths">Deaths</a>
      <a href="/recoveries">Recoveries</a>
      <a class="active" href="/map">Map</a>
    </div>
  </body>
</html>
