body {
  background-color: #E2E8ED;
  margin: 0px;
}
.nav {

  background-color: #A3B5BF;
  display: flex;
  /* padding: 0.5em; */
  margin-top: 0px;
  font-size: 24px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
  font-weight: bold;
  justify-content: flex-start;
}
.links {
  padding: 0px;
  float: right;
}
a {
  color: #425866;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  
  background-color: #2C404C;
  color: #E2E8ED;
}
a.active {
  background-color: #E2E8ED;
  color: #121F26;
}
.logo:hover {
  background-color: #A3B5BF;
  color: #121F26;
}
